<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bread</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <nav id="main-menu">
        <ul class="nav-bar">
             <li class="nav-button-home"><a href="/drink"> Drink </a></li>
             <li class="nav-button-bread"><a href="/bread"> Bread </a></li>
             <li class="nav-button-bread"><a href="/Food"> Food </a></li>
             
        </ul>
   </nav>
   
</head>
<body>
    <h2> Bread </h2><br>
    <h5> Sandwich </h5><br>
    <h5> Yogurt Pudding </h5><br>
    <h5> Chocolate Cake </h5><br>
    <h5> Cheese Cake </h5><br>
    <h5> Red Velvet Cake </h5><br>
</body>
</html>