<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manu</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="login.css">
    <nav id="main-menu">
        <ul class="nav-bar">
             <li class="nav-button-home"><a href="/drink"> Drink </a></li>
             <li class="nav-button-bread"><a href="/bread"> Bread </a></li>
             <li class="nav-button-bread"><a href="/Food"> Food </a></li>
             
        </ul>
   </nav>
   
</head>
<body>
    <h1> Drink </h1><br>
    <h3> Coffee & Tea </h3><br>
    <h4> Latte </h4><br>
    <h4> Cappuccino </h4><br>
    <h4> Espresso </h4><br>
    <h4> Americano </h4><br>
    <h4> Mocha </h4><br>
    <h4> Caremel Macchiato </h4><br>
    <h4> Light Coffee </h4><br><br>
</body>
</html>