<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manu</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <nav id="main-menu">
        <ul class="nav-bar">
             <li class="nav-button-home"><a href="/drink"> Drink </a></li>
             <li class="nav-button-bread"><a href="/bread"> Bread </a></li>
             <li class="nav-button-bread"><a href="/Food"> Food </a></li>
             
        </ul>
   </nav>
   
</head>
<body>
    <h1> Food </h1><br>
    <h2> Spaghetti </h2>
    <h3> Spaghetti Squid Ink with Pasto Sauce </h3><br>
    <h4> Spaghetti Prawn with Spicy Herb Sauce </h4><br>
    <h4> Spaghetti Bacon with Spicy Sauce </h4><br>
    <h4> Spaghetti Steak with Clean Pasto Sauce </h4><br><br>
    <h2> Salad </h2><br>
    <h4> Grill Shrimp Salad </h4><br>
    <h4> Caesar Salad </h4><br>
    <h4> Grill Chicken Salad </h4><br><br>
    <h2> Appetizar </h2><br>
    <h4> French Fries with Cheese Dip </h4><br>
    <h4> Thai Style Chicken Wing </h4>
    <h2> Soup </h2><br>
    <h4> Corn Cream Soup </h4><br>
    <h4> Spinach Cream Soup </h4><br><br>
</body>
</html>